* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
}

.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 220px;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #ccc;
}

.sidebar li:hover {
    color: white;
}


.main {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    padding: 25px;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}

.total { background: #007bff; }
.completed { background: #28a745; }
.pending { background: #ffc107; color: black; }

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 14px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.csv {
    margin-top: 15px;
}
